<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="00ddcea4-ddf0-4302-8fb5-d87d9a09895e"
    Version="1.0.0.0"
    Publisher="CN=academy" />

  <Properties>
    <DisplayName>5. WinJS-Classes-and-Namespaces</DisplayName>
    <PublisherDisplayName>academy</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="5. WinJS-Classes-and-Namespaces"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="5. WinJS-Classes-and-Namespaces"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
