<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="11978MackOrc.WhichTennisLegendIsBigger" Publisher="CN=DD3D6D1D-0086-4100-8206-7B4F24C1F135" Version="1.0.0.6" />
  <Properties>
    <DisplayName>Which Tennis Legend Is Bigger</DisplayName>
    <PublisherDisplayName>MackOrc</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WhichTennisLegendIsBigger.App">
      <VisualElements DisplayName="WhichTennisLegendIsBigger" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WhichTennisLegendIsBigger" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>